In [1]:
#MODULE 1 BY JAYANK CHANDIL 03/05/2020
# import the necessary libraries
import pandas as pd
import numpy as np
import datetime

In [2]:
df=pd.read_csv("C:/Users/JAYANK/Desktop/aspiration ai internship/TCS.csv")

In [3]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

In [6]:
# to retrieve only those rows where series stocks is equal to 'EQ'
df1=df[df['Series']=='EQ']

In [7]:
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

In [8]:
df1.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [9]:
df1.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,2387.748684,2386.112146,2412.039575,2362.413866,2386.900911,2387.279251,2387.545040,2.154751e+06,4.914692e+09,95827.566802,1.183271e+06,56.849312
std,463.565049,461.347984,470.430776,457.931108,463.288365,463.709942,464.726731,2.579232e+06,6.651663e+09,57134.390316,1.600605e+06,12.114263
min,1721.600000,1723.000000,1734.900000,1711.150000,1723.000000,1721.600000,1725.850000,4.341100e+04,1.120856e+08,2351.000000,1.386900e+04,21.480000
25%,1987.912500,1989.475000,2005.500000,1973.250000,1988.887500,1987.912500,1988.825000,9.365380e+05,2.444368e+09,51852.750000,5.490995e+05,48.020000
50%,2398.575000,2396.925000,2433.000000,2377.650000,2398.100000,2398.575000,2402.990000,1.696750e+06,3.959611e+09,86986.500000,9.150305e+05,56.750000
75%,2638.237500,2635.750000,2669.450000,2619.787500,2638.000000,2638.237500,2641.310000,2.622279e+06,5.725864e+09,125993.250000,1.465679e+06,66.310000
max,3603.700000,3625.000000,3674.800000,3572.550000,3610.750000,3603.700000,3633.110000,4.403358e+07,1.268362e+11,482657.000000,3.155626e+07,85.180000

In [10]:
start_date='13-Feb-2019'
end_date='13-May-2019'

In [11]:
# to change the datatype of Date column from object to datetime64
df1['Date']=df['Date'].astype('datetime64')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
# dtype function used for get the data type of particular or all columns
df1['Date'].dtypes

dtype('<M8[ns]')

In [13]:
# set the condition to get the Date of last 90 days that will start from 13 feb 2019
df2=df1[df1['Date']>=start_date]

In [14]:
#to get the max value of close price in last 90 days we use max() function
df2['Close Price'].max()

2260.35

In [15]:
# to get the minimum value of close price in last 90 days we use min() function
df2['Close Price'].min()

1904.8

In [436]:
# to get the mean of close price in last 90 days we use mean() function
df2['Close Price'].mean()

2055.8232758620697

In [16]:
# we have to get the difference between the maximum date and the minimum date 
max_date=df2['Date'].max()
min_date=df2['Date'].min()
difference=max_date-min_date
difference

Timedelta('89 days 00:00:00')

In [17]:
# to add the month column at the end 
df1['month']=pd.DatetimeIndex(df1['Date']).month

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df1

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5

In [19]:
# to add the year column at the end
df1['year']=pd.DatetimeIndex(df1['Date']).year

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
df1

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019

In [21]:
# we have to calculate the vwap value we have to calculate the sum of product of close price and Total tr quantity
df1['Closeprice*TotalTradedQuantity']=df1['Close Price']*df1['Total Traded Quantity']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
df1

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Closeprice*TotalTradedQuantity
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2.149408e+09
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,4.373716e+09
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,3.531036e+09
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,6.516251e+09
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2.238940e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,4.737944e+09
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,3.928725e+09
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,4.919005e+09
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,4.356248e+09
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,3.622588e+09

In [23]:
# groupby by month and year
df3=df1.groupby(['month','year']).sum()
df3

            Prev Close  Open Price  High Price  Low Price  Last Price  \
month year
1     2018    62988.95    63035.35    64090.00   62411.65    63400.35
      2019    43679.30    43732.10    44159.25   43302.75    43797.55
2     2018    57254.70    57224.00    58039.55   56605.75    57157.70
      2019    40326.80    40361.20    40793.70   39810.00    40272.50
3     2018    55674.95    55637.90    56111.10   55048.65    55456.65
      2019    38059.05    38179.95    38430.15   37751.50    38059.55
4     2018    66020.10    66080.60    67403.15   65628.60    66631.40
      2019    39819.85    39959.35    40385.30   39574.35    40084.35
5     2017    32592.60    32626.80    33083.50   32369.60    32743.00
      2018    76947.70    75371.20    76003.55   74546.20    75166.00
      2019    17378.75    17314.05    17505.90   17097.40    17252.35
6     2017    51894.45    51878.40    52385.95   51249.05    51709.65
      2018    37607.20    37762.00    38067.80   37406.40    37692.15
7     2017    51145.85    51033.45    51760.70   50679.85    51285.80
      2018    42731.80    42838.40    43141.65   42473.95    42816.75
8     2017    52421.80    52453.70    52913.75   52006.60    52424.35
      2018    42134.05    42211.40    42469.70   41986.60    42262.30
9     2017    52178.55    52204.25    52568.95   51737.35    52137.55
      2018    37739.55    37787.35    38178.05   37391.55    37864.80
10    2017    50538.45    50547.80    51123.65   50269.85    50711.70
      2018    41648.20    41618.45    42129.90   40698.60    41417.30
11    2017    59117.30    59129.95    59704.15   58679.55    59101.65
      2018    38038.20    38101.35    38551.45   37585.15    38096.50
12    2017    52275.45    52304.15    52878.75   51808.40    52327.60
      2018    39334.25    39346.25    39667.95   38913.10    39259.55

            Close Price  Average Price  Total Traded Quantity      Turnover  \
month year
1     2018     63400.10       63306.44               29045585  8.521898e+10
      2019     43800.35       43758.40               69895226  1.324291e+11
2     2018     57177.40       57315.76               23136808  6.987327e+10
      2019     40296.15       40311.06               62771882  1.256889e+11
3     2018     55489.05       55574.21               72662948  2.098408e+11
      2019     38077.25       38087.31               53475963  1.072859e+11
4     2018     66703.05       66651.10               58151126  1.920294e+11
      2019     40078.55       40002.51               67089639  1.411983e+11
5     2017     32778.55       32725.20               16401424  4.125768e+10
      2018     75156.65       75287.43               35193453  1.144614e+11
      2019     17247.15       17319.05               19162139  4.148701e+10
6     2017     51710.20       51794.85               25595858  6.367245e+10
      2018     37713.90       37737.61               74257498  1.343040e+11
7     2017     51275.30       51251.66               22910526  5.616211e+10
      2018     42824.25       42790.48               86782242  1.685170e+11
8     2017     52426.35       52428.47               16309506  4.074120e+10
      2018     42272.25       42256.93               42262355  8.511653e+10
9     2017     52118.15       52108.44               16790172  4.171321e+10
      2018     37844.85       37801.86               44640172  9.391763e+10
10    2017     50726.50       50713.69               17816600  4.513864e+10
      2018     41402.65       41394.48               68060513  1.347170e+11
11    2017     59130.30       59186.28               19814100  5.343372e+10
      2018     38068.30       38015.88               52728186  1.002040e+11
12    2017     52339.65       52325.82               20150360  5.260196e+10
      2018     39259.05       39302.33               49342879  9.684745e+10

            No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty  \
month year
1     2018        1395283         12895705                 1053.26
      2019        3061745         31011427                 1085.67
2     2018        1206228         10695376                  868.68
      2019        2432706         31873990                 1011.68
3     2018        1630969         49920972                 1165.50
      2019        2508567         27418780                  973.05
4     2018        2558715         27196437                 1136.08
      2019        2592715         30835487                  867.87
5     2017         841365         10366921                  838.02
      2018        2174296         20263670                 1236.12
      2019         833656          8489591                  354.10
6     2017        1272310         15620940                 1257.89
      2018        3129796         45410444                 1322.79
7     2017        1163998         13403466                 1237.09
      2018        3081058         47951327                 1329.21
8     2017         839260         10443040                 1321.20
      2018        2253680         27918401                 1372.44
9     2017         799390         11783967                 1454.13
      2018        2287822         27813184                 1125.07
10    2017         794196         11677024                 1327.92
      2018        3355095         33141534                 1064.33
11    2017         942251         13413818                 1420.55
      2018        2505975         27722068                 1017.11
12    2017        1176070         12759318                 1249.87
      2018        2501672         24509190                  993.93

            Closeprice*TotalTradedQuantity
month year
1     2018                    8.540214e+10
      2019                    1.325401e+11
2     2018                    6.972942e+10
      2019                    1.255408e+11
3     2018                    2.100034e+11
      2019                    1.072726e+11
4     2018                    1.921663e+11
      2019                    1.415398e+11
5     2017                    4.137355e+10
      2018                    1.142243e+11
      2019                    4.130940e+10
6     2017                    6.353916e+10
      2018                    1.343299e+11
7     2017                    5.616721e+10
      2018                    1.691268e+11
8     2017                    4.074924e+10
      2018                    8.515185e+10
9     2017                    4.171505e+10
      2018                    9.414622e+10
10    2017                    4.517248e+10
      2018                    1.346278e+11
11    2017                    5.329653e+10
      2018                    1.004779e+11
12    2017                    5.263660e+10
      2018                    9.668852e+10

In [24]:
# calculating the vwap value 
df3['vwap']=df3['Closeprice*TotalTradedQuantity']/df3['Total Traded Quantity']

In [25]:
# here we get the VWAP value according to particular month and year
df3[['vwap']]

                   vwap
month year
1     2018  2940.279651
      2019  1896.268462
2     2018  3013.787504
      2019  1999.952060
3     2018  2890.102635
      2019  2005.996548
4     2018  3304.601426
      2019  2109.711279
5     2017  2522.558222
      2018  3245.611485
      2019  2155.782314
6     2017  2482.399958
      2018  1808.974878
7     2017  2451.589913
      2018  1948.864605
8     2017  2498.496237
      2018  2014.839267
9     2017  2484.492080
      2018  2109.002207
10    2017  2535.415240
      2018  1978.059633
11    2017  2689.828290
      2018  1905.582283
12    2017  2612.191449
      2018  1959.523344

In [26]:
df1

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Closeprice*TotalTradedQuantity
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2.149408e+09
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,4.373716e+09
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,3.531036e+09
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,6.516251e+09
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2.238940e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,4.737944e+09
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,3.928725e+09
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,4.919005e+09
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,4.356248e+09
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,3.622588e+09

In [27]:
# here n is a user defined input
n=int(input(''))
x=0
for i in range(0,n+1):
    
    a=df1['Average Price'][i]
    x=x+a
    
b=n+1
closing_price_0=df1['Close Price'][0]
closing_price_nth=df1['Close Price'][n]
if(closing_price_nth>closing_price_0):
    profit_percentage=((closing_price_nth-closing_price_0)/closing_price_0)*100
    print('profit of last {} days is {}%'.format(n,profit_percentage))
else:
    loss_percentage=((closing_price_nth-closing_price_0)/closing_price_0)*100
    print('Loss of last {} days is {}%'.format(n,loss_percentage))
    
# print the average value over last n days
print('The average price of last {} days is {}'.format(n,x/b))

# it will also calculate the average price and profit/loss percentage of last 1 week=7 days,2weeks=14 days,1month=30days
# 2 months=60days,3 months=90 days,6 months=180 days,i year=365 days

365
Loss of last 365 days is -18.153566445393427%
The average price of last 365 days is 2526.146065573772

In [28]:
# pct_change function of pandas get the percentage change between two days 
perc=df1[['Close Price']].pct_change()
# we multiply by 100 to get the change in percentage
perc=perc*100

In [29]:
# the first value is NAN because the pct_change function compares two values thats why for row 0 there is no comparable data
# so we relace the NAN value by 0 we use fillna() function of pandas and replace by 0
df1['Day_perc_change']=perc.fillna(0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
df1

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Closeprice*TotalTradedQuantity,Day_perc_change
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2.149408e+09,0.000000
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,4.373716e+09,2.708131
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,3.531036e+09,1.078567
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,6.516251e+09,3.292810
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2.238940e+09,-1.145414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,4.737944e+09,-0.273420
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,3.928725e+09,0.041823
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,4.919005e+09,0.915066
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,4.356248e+09,-1.691561
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,3.622588e+09,-0.330087

In [31]:
# here the dtype of Day_perc_change column in object so we change to float64 of pandas by function astype
df1[['Day_perc_change']].astype('float64')

     Day_perc_change
0           0.000000
1           2.708131
2           1.078567
3           3.292810
4          -1.145414
..               ...
493        -0.273420
494         0.041823
495         0.915066
496        -1.691561
497        -0.330087

[494 rows x 1 columns]

In [32]:
df1['Day_perc_change']=df1['Day_perc_change'].astype('float64')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
df1['Day_perc_change'].dtypes

dtype('float64')

In [34]:
df1['Trend']='NAN'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
df1

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Closeprice*TotalTradedQuantity,Day_perc_change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2.149408e+09,0.000000,NAN
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,4.373716e+09,2.708131,NAN
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,3.531036e+09,1.078567,NAN
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,6.516251e+09,3.292810,NAN
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2.238940e+09,-1.145414,NAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,4.737944e+09,-0.273420,NAN
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,3.928725e+09,0.041823,NAN
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,4.919005e+09,0.915066,NAN
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,4.356248e+09,-1.691561,NAN
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,3.622588e+09,-0.330087,NAN

In [36]:
for i in range(0,494):
    value=df1[['Day_perc_change']].iloc[i]
    real_value=value['Day_perc_change']
    if(real_value>-0.5 and real_value<=0.5):
        df1['Trend'][i]='Slight or No change'
    elif(real_value>0.5 and real_value<=1):
        df1['Trend'][i]='Slight positive'
    elif(real_value>-1 and real_value<-0.5):
        df1['Trend'][i]='Slight negative'
    elif(real_value>1 and real_value<=3):
        df1['Trend'][i]='positive'
    elif(real_value>-3 and real_value<-1):
        df1['Trend'][i]='negative'
    elif(real_value>3 and real_value<=7):
        df1['Trend'][i]='Among top gainers'
    elif(real_value>-7 and real_value<-3):
        df1['Trend'][i]='Among top losers'
    elif(real_value>7):
        df1['Trend'][i]='Bull run'
    elif(real_value<=-7):
        df1['Trend'][i]='Bear drop'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [37]:
df1['Trend']

0      Slight or No change
1                 positive
2                 positive
3        Among top gainers
4                 negative
              ...
497                    NAN
434    Slight or No change
440       Among top losers
446        Slight positive
464        Slight negative
Name: Trend, Length: 498, dtype: object

In [38]:
df1.head(50)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Closeprice*TotalTradedQuantity,Day_perc_change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2.149408e+09,0.000000,Slight or No change
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,4.373716e+09,2.708131,positive
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,3.531036e+09,1.078567,positive
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,6.516251e+09,3.292810,Among top gainers
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2.238940e+09,-1.145414,negative
5,TCS,EQ,2017-05-22,2507.15,2510.00,2553.75,2510.00,2535.00,2531.35,2530.69,831970,2.105461e+09,53261,509741,61.27,5,2017,2.106007e+09,0.965239,Slight positive
6,TCS,EQ,2017-05-23,2531.35,2533.20,2564.15,2514.00,2523.70,2521.70,2530.49,1374298,3.477645e+09,88749,995551,72.44,5,2017,3.465567e+09,-0.381220,Slight or No change
7,TCS,EQ,2017-05-24,2521.70,2534.80,2570.00,2529.65,2567.10,2559.15,2545.01,1267274,3.225228e+09,58716,918505,72.48,5,2017,3.243144e+09,1.485109,positive
8,TCS,EQ,2017-05-25,2559.15,2577.00,2637.55,2568.00,2615.05,2624.60,2605.40,2047047,5.333377e+09,87147,1180439,57.67,5,2017,5.372680e+09,2.557490,positive
9,TCS,EQ,2017-05-26,2624.60,2625.00,2626.85,2564.65,2570.05,2578.25,2593.00,681275,1.766543e+09,32170,390827,57.37,5,2017,1.756497e+09,-1.765983,negative
10,TCS,EQ,2017-05-29,2578.25,2579.00,2596.50,2564.00,2572.00,2572.85,2577.65,874645,2.254525e+09,41767,635375,72.64,5,2017,2.250330e+09,-0.209444,Slight or No change
11,TCS,EQ,2017-05-30,2572.85,2560.00,2575.95,2525.00,2548.20,2551.10,2554.74,463817,1.184932e+09,26766,246206,53.08,5,2017,1.183244e+09,-0.845366,Slight negative
12,TCS,EQ,2017-05-31,2551.10,2533.00,2572.50,2528.00,2539.95,2546.60,2549.69,1251365,3.190589e+09,103176,925467,73.96,5,2017,3.186726e+09,-0.176394,Slight or No change
13,TCS,EQ,2017-06-01,2546.60,2530.00,2564.00,2530.00,2553.00,2553.60,2552.85,540032,1.378618e+09,38315,370004,68.52,6,2017,1.379026e+09,0.274876,Slight or No change
14,TCS,EQ,2017-06-02,2553.60,2556.25,2591.85,2552.50,2560.00,2564.90,2568.84,677824,1.741220e+09,43736,511928,75.53,6,2017,1.738551e+09,0.442513,Slight or No change
15,TCS,EQ,2017-06-05,2564.90,2565.00,2619.90,2560.15,2616.00,2603.95,2577.20,750094,1.933140e+09,39041,490594,65.40,6,2017,1.953207e+09,1.522477,positive
16,TCS,EQ,2017-06-06,2603.95,2631.00,2708.95,2630.00,2705.00,2696.00,2693.18,2973360,8.007781e+09,132494,1888281,63.51,6,2017,8.016179e+09,3.535014,Among top gainers
17,TCS,EQ,2017-06-07,2696.00,2697.00,2700.00,2576.55,2613.95,2615.25,2624.95,2463888,6.467589e+09,109104,1265805,51.37,6,2017,6.443683e+09,-2.995178,negative
18,TCS,EQ,2017-06-08,2615.25,2598.00,2604.95,2515.50,2520.00,2521.60,2543.44,1665357,4.235731e+09,80468,678314,40.73,6,2017,4.199364e+09,-3.580920,Among top losers
19,TCS,EQ,2017-06-09,2521.60,2520.00,2547.40,2486.00,2518.60,2507.00,2513.28,1574017,3.955950e+09,83931,599286,38.07,6,2017,3.946061e+09,-0.578997,Slight negative
20,TCS,EQ,2017-06-12,2507.00,2497.00,2512.90,2470.40,2484.90,2487.20,2487.48,813253,2.022948e+09,44849,306655,37.71,6,2017,2.022723e+09,-0.789789,Slight negative
21,TCS,EQ,2017-06-13,2487.20,2465.00,2481.10,2447.00,2450.00,2451.55,2464.89,587707,1.448635e+09,52410,268108,45.62,6,2017,1.440793e+09,-1.433339,negative
22,TCS,EQ,2017-06-14,2451.55,2455.00,2476.00,2455.00,2465.40,2470.20,2469.41,744571,1.838651e+09,42987,456486,61.31,6,2017,1.839239e+09,0.760743,Slight positive
23,TCS,EQ,2017-06-15,2470.20,2469.00,2469.70,2405.00,2410.00,2411.20,2427.94,1498599,3.638509e+09,65157,1140716,76.12,6,2017,3.613422e+09,-2.388471,negative
24,TCS,EQ,2017-06-16,2411.20,2414.95,2435.00,2386.50,2395.00,2399.70,2402.96,1225213,2.944142e+09,72001,709697,57.92,6,2017,2.940144e+09,-0.476941,Slight or No change
25,TCS,EQ,2017-06-19,2399.70,2416.90,2446.35,2405.15,2432.00,2431.70,2430.50,822371,1.998776e+09,53034,493678,60.03,6,2017,1.999760e+09,1.333500,positive
26,TCS,EQ,2017-06-20,2431.70,2431.00,2449.00,2380.30,2443.60,2445.00,2427.14,835479,2.027828e+09,56385,443227,53.05,6,2017,2.042746e+09,0.546942,Slight positive
27,TCS,EQ,2017-06-21,2445.00,2440.00,2442.15,2397.20,2406.75,2406.30,2412.24,828909,1.999530e+09,60134,488457,58.93,6,2017,1.994604e+09,-1.582822,negative
28,TCS,EQ,2017-06-22,2406.30,2409.00,2431.00,2385.00,2391.45,2394.85,2403.02,2887941,6.939787e+09,51314,2442403,84.57,6,2017,6.916186e+09,-0.475834,Slight or No change
29,TCS,EQ,2017-06-23,2394.85,2399.40,2413.95,2354.00,2359.80,2361.70,2388.78,712378,1.701711e+09,52090,347676,48.80,6,2017,1.682423e+09,-1.384220,negative
30,TCS,EQ,2017-06-27,2361.70,2350.60,2384.70,2331.60,2348.00,2342.85,2357.33,987165,2.327075e+09,61242,613618,62.16,6,2017,2.312780e+09,-0.798154,Slight negative
31,TCS,EQ,2017-06-28,2342.85,2349.90,2358.00,2335.00,2346.25,2350.05,2345.89,894863,2.099252e+09,46724,653390,73.02,6,2017,2.102973e+09,0.307318,Slight or No change
32,TCS,EQ,2017-06-29,2350.05,2359.00,2372.05,2323.10,2328.95,2333.25,2342.52,1235913,2.895151e+09,41555,909603,73.60,6,2017,2.883694e+09,-0.714878,Slight negative
33,TCS,EQ,2017-06-30,2333.25,2324.40,2377.00,2323.10,2361.00,2362.35,2361.01,876924,2.070428e+09,45339,543014,61.92,6,2017,2.071601e+09,1.247187,positive
34,TCS,EQ,2017-07-03,2362.35,2357.40,2383.05,2343.10,2371.00,2373.60,2368.46,737978,1.747872e+09,39614,492755,66.77,7,2017,1.751665e+09,0.476221,Slight or No change
35,TCS,EQ,2017-07-04,2373.60,2373.30,2380.45,2350.05,2360.80,2366.85,2366.90,607567,1.438053e+09,24611,339629,55.90,7,2017,1.438020e+09,-0.284378,Slight or No change
36,TCS,EQ,2017-07-05,2366.85,2360.80,2365.00,2345.00,2358.00,2356.00,2354.42,407928,9.604333e+08,22153,216685,53.12,7,2017,9.610784e+08,-0.458415,Slight or No change
37,TCS,EQ,2017-07-06,2356.00,2359.00,2361.90,2340.10,2350.05,2347.55,2348.75,513394,1.205835e+09,26826,342973,66.81,7,2017,1.205218e+09,-0.358659,Slight or No change
38,TCS,EQ,2017-07-07,2347.55,2350.00,2356.45,2325.50,2332.00,2331.95,2343.49,616045,1.443698e+09,52731,417958,67.85,7,2017,1.436586e+09,-0.664523,Slight negative
39,TCS,EQ,2017-07-10,2331.95,2341.00,2444.90,2341.00,2435.00,2434.95,2426.54,398392,9.667144e+08,12486,188289,47.26,7,2017,9.700646e+08,4.416904,Among top gainers
40,TCS,EQ,2017-07-11,2434.95,2426.00,2514.80,2426.00,2482.50,2475.80,2478.13,1768752,4.383195e+09,96054,937311,52.99,7,2017,4.379076e+09,1.677653,positive
41,TCS,EQ,2017-07-12,2475.80,2482.50,2483.30,2430.10,2441.00,2439.45,2453.34,1323225,3.246316e+09,62259,926229,70.00,7,2017,3.227941e+09,-1.468212,negative
42,TCS,EQ,2017-07-13,2439.45,2445.00,2472.00,2426.60,2439.00,2446.40,2449.50,1565980,3.835873e+09,64700,819249,52.32,7,2017,3.831013e+09,0.284900,Slight or No change
43,TCS,EQ,2017-07-14,2446.40,2383.00,2425.00,2375.00,2399.10,2397.45,2396.18,2254216,5.401499e+09,95561,853385,37.86,7,2017,5.404370e+09,-2.000899,negative
44,TCS,EQ,2017-07-17,2397.45,2397.70,2422.10,2382.20,2397.10,2395.45,2402.63,1105911,2.657095e+09,49251,668063,60.41,7,2017,2.649155e+09,-0.083422,Slight or No change
45,TCS,EQ,2017-07-18,2395.45,2396.15,2443.00,2396.15,2415.10,2408.35,2418.05,954001,2.306824e+09,67981,587896,61.62,7,2017,2.297568e+09,0.538521,Slight positive
46,TCS,EQ,2017-07-19,2408.35,2415.50,2460.00,2415.10,2449.25,2449.60,2442.01,1957788,4.780944e+09,87419,1244355,63.56,7,2017,4.795797e+09,1.712791,positive
47,TCS,EQ,2017-07-20,2449.60,2449.25,2456.90,2430.50,2437.00,2444.70,2441.25,591252,1.443394e+09,23307,305250,51.63,7,2017,1.445434e+09,-0.200033,Slight or No change
48,TCS,EQ,2017-07-21,2444.70,2434.90,2500.00,2434.55,2496.00,2491.20,2473.18,1074208,2.656705e+09,64460,652870,60.78,7,2017,2.676067e+09,1.902074,positive
49,TCS,EQ,2017-07-24,2491.20,2482.00,2540.00,2482.00,2535.00,2530.70,2519.47,1135701,2.861364e+09,68968,749335,65.98,7,2017,2.874119e+09,1.585581,positive

In [39]:
# groupby by column Trend and arrange by the median
median_=df1.groupby(['Trend']).median()

In [40]:
# get the arranged Total Traded Quantity
median_['Total Traded Quantity']

Trend
Among top gainers      2832165.0
Among top losers       3871391.5
Bear drop              5049371.0
NAN                    1932264.0
Slight negative        1574017.0
Slight or No change    1374298.0
Slight positive        1751642.0
negative               1818635.0
positive               1910952.0
Name: Total Traded Quantity, dtype: float64

In [41]:
# groupby by column Trend and arrange my the mean
average_=df1.groupby(['Trend']).mean()

In [42]:
# get the arranged Total Traded Quantity
average_['Total Traded Quantity']

Trend
Among top gainers      4.443039e+06
Among top losers       7.204542e+06
Bear drop              5.049371e+06
NAN                    1.957608e+06
Slight negative        1.680414e+06
Slight or No change    1.756708e+06
Slight positive        2.078020e+06
negative               2.005562e+06
positive               2.237909e+06
Name: Total Traded Quantity, dtype: float64

In [43]:
# this submission of jupyter notebook is by jayank Chandil Machine learning Intern of
df1

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Closeprice*TotalTradedQuantity,Day_perc_change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017,2.149408e+09,0.000000,Slight or No change
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017,4.373716e+09,2.708131,positive
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017,3.531036e+09,1.078567,positive
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017,6.516251e+09,3.292810,Among top gainers
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017,2.238940e+09,-1.145414,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,5,2019,4.737944e+09,-0.273420,NAN
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,5,2019,3.928725e+09,0.041823,NAN
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,5,2019,4.919005e+09,0.915066,NAN
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,5,2019,4.356248e+09,-1.691561,NAN
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,5,2019,3.622588e+09,-0.330087,NAN

In [45]:
df1.to_csv('week1.csv')

In [46]:
df1['Date'].dtypes

dtype('<M8[ns]')